/* ChartArtists.module.css */

.artistsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacement entre les albums */
    justify-content: flex-start; /* Alignement à gauche */
}

.cardArtist {
    flex: 1 1 calc(12% - 20px); /* Chaque album occupe 25% de la largeur du container, avec un espace entre eux */
    max-width: 200px; /* Largeur maximale d'un album */
    margin-bottom: 20px;
}
